<p>
  usuario works!
</p>
<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['detalle']">Usuario detalle</button>
      <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['edita']">Usuario Editar</button>
      <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['nuevo']">Usuario Nuevo</button>
    </div>
  </div>
<router-outlet></router-outlet>
