<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
  Auth App
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['precios']">Precios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['protegida']" *ngIf="auth.isAuthenticated()">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="!auth.isAuthenticated()" (click)="ingresar()">Ingresar</button>
      <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="auth.isAuthenticated()" (click)="salir()">Salir</button>
        <button type="button" class="btn btn-outline-primary btn-sm"  (click)="estado()">Estado</button>
    </span>
  </div>
</nav>
